/* imports from "fonts.google.com" and "fonts.adobe.com" */
/* @import url("/w20/css/normalize.css"); */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rubik+Glitch&display=swap');


/* ** GENERAL VIEW ** */
body {
    background-size: 5000px;
    margin: 0;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 900;
    background-color: rgba(225, 225, 225, 0.6);
}

.byline {
    font-family: Pacifico;
    font-size: 10px;
    font-weight: 100;
    color: dimgray;
    margin-top: 40px;
}
.dp {
    /* display: none; */
    width: 50px;
    border-radius: 50%;
    /* margin: 20px 20px 0px 0px; */
}
.profilepic {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
}
.gallery {
    /* max-width: 1224px; */
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}
h1 a {
    /* font-size: 20px;
    font-family: "Rubik Glitch";
    margin-left: 15px;
    font-weight: 100;
    margin-top: 18px;
    color: #000;
    text-decoration: none; */
    margin-left: 10px;
}
h2 {
    font-family: "Rubik Glitch";
}
.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
pre {
    /* margin-bottom: 2rem; */
}
.images {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.photo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#img {
    width: 80px;
    margin-top: -20px;
    margin-left: 10px;
    opacity: 70%;
}
.img {
    width: 100%;
    max-width: 1224px;
    /* border-radius: 5px; */
    cursor: pointer;
}
.img:focus {
    animation: focus .5s;
}
.img-pop {
    width: 200px;
    margin-right: 30px;
}
.left {
    margin-right: 30px;
}
@keyframes focus {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
.info {
    margin-right: 50px;
}
.info p, .info2 p {
    margin-top: 50px;
}
.info-contain {
    display: flex;
    width: 80%;
    margin-left: 10px;
}
.top {
    width: 300px;
}
main {
    margin-top: 50px;
}
#mainHead {
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    /* background: linear-gradient(180deg, #000, rgba(240, 93, 35, 100%)); */
    background-color: rgba(225, 225, 225, 0.95);
    /* background: transparent; */
    background-size: 900% 300%;
    height: 70px;
    /* box-shadow: 0px 6px 10px -1px #3a3a3a; */
    z-index: 20;
}
#notice {
    position: fixed;
    width: 100%;
    top: 10px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    /* background: linear-gradient(180deg, #000, rgba(240, 93, 35, 100%)); */
    background-color: rgba(225, 225, 225, 0.95);
    /* background: transparent; */
    background-size: 900% 300%;
    /* box-shadow: 0px 6px 10px -1px #3a3a3a; */
    z-index: 20;
}
.note {
    color: rgb(128, 0, 0);
}
.mainNav {
    display: flex;
    /* position: absolute; */
    /* display: none; */
}
.mainNav a {
    display: none;
    margin-right: 20px;
    color: rgba(255, 165, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.mainNav a:hover {
    color: rgba(255, 165, 0, 1);
}
.mainNav2 {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    cursor: default;
    text-align: right;
}
.mainNav2 a {
    margin-bottom: 20px;
    color: rgba(255, 165, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
pre {
    color: #808080;
    /* margin-left: 15px; */
}
p {
    font-size: 12px;
}
.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #f5f5f5;
    width: 80%;
    height: 80vh;
    overflow: auto;
    /* scroll-behavior: smooth; */
    padding: 20px;
    box-sizing: border-box;
    z-index: 55;
}
.popup .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
} 
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 500ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
.flex {
    display: flex;
    align-items: center;
    overflow: auto;
}
.prof {
    width: 100px;
}
#siteName {
    display: flex;
}
.social {
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    height: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.style {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    cursor:no-drop;
}
.styles {
    color: rgba(0, 0, 0, 0.8);
}
.shop {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.shop:hover {
    color: rgba(0, 0, 0, 0.7);
}
.profile-btn2 {
    position: absolute;
}
.icon {
    color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
}


/* carousel */
.carousel {
    position: relative;
    width: 300px;
    overflow: hidden;
    touch-action: pan-y;
    margin: 0 auto;
}
.slides {
display: flex;
width: fit-content;
transition: transform 0.3s ease-in-out;
}
.slide {
width: 300px;
height: 370px;

background-color: transparent;
transform: scale(0.8);
}
.button{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.arrow {
    font-size: 20px;
}
.prev-btn {
    background-color: rgb(255, 165, 0);
    outline: none;
    border: none;
    color: #f5f5f5;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.2s;
}
.prev-btn:active {
    transform: scale(0.8);
}
.next-btn {
    background-color: rgb(255, 165, 0);
    outline: none;
    border: none;
    color: #f5f5f5;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.2s;
}
.next-btn:active {
    transform: scale(0.8);
}
footer {
    /* display: none; */
    text-align: center;
    font-size: 10px;
    margin-bottom: 100px;
}
.copy_right {
    text-align: center;
    font-size: 10px;
}
/* end of carousel */
/* ********* */

/* ** DESKTOP ** */
@media only screen and (min-width: 60rem) {
    .profile-btn {
        transition: 500ms ease-in-out;
        cursor: pointer;
    }
    .img {
        transition: .5s ease-in-out;
    }
    .img:hover {
        transform: scale(1.05);
        opacity: 80%;
    }
    .mainNav {
        display: flex;
        /* position: absolute; */
        /* display: none; */
        display: inline;
    }
    .mainNav a {
        /* display: none; */
        display: inline;
        margin-right: 20px;
        /* color: rgba(255, 165, 0, 0.8); */
        color: rgba(128, 128, 128, 0.3);
        font-family: Arial, Helvetica, sans-serif;
        cursor:no-drop
    }
    .mainNav a:hover {
        /* color: rgba(255, 165, 0, 1); */
        color: grey;
    }
    .mainNav2 {
        /* display: none; */
    }
    .popup .content {
        width: 50%;
    }
    .gallery {
        /* max-width: 1224px; */
        width: 90%;
        margin: 0 auto;
        padding: 40px 0;
    }
    .profile:active {
        animation: active .5s;
    }
    @keyframes active {
        0% {
            transform: scale(1.2);
        }
        50% {
            transform: scale(0.5);
        }
        100% {
            transform: scale(1.2);
        }
    }
    .icon {
        color: rgba(0, 0, 0, 0.8);
        font-size: 30px;
    }
}